    body {
            font-family: Arial, sans-serif;
            background-color: #f0f8ff;
            padding: 20px;
        }
        h2 {
            color: #003366;
        }
        p {
            color: #333;
        }
